body {
    font-family: 'Baloo Bhaina 2', cursive;
}
.img {
        width: 100%;
        height: 300px;
    }
.img-back {
    /* background-image: url('img/back.jpg'); */
    background-size: cover;
}
.hot-pic {
    width: 50px;
    height: 50px;
    display: none;
}
.img-welcome {
    width: 100%;
}

.space {
    margin: 50px auto;
}
.contact-image{
.space {
    margin: 50px auto;
}
.contact-image{
.space {
    margin: 50px auto;
}
.contact-image{
.space {
    margin: 50px auto;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 10px;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
 